.DS_Store
.idea
*.log
tmp/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
target/
.auctex-auto/
.env

public/

.serverless/
.cache/
.log/
.linaria-cache/

# Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json