.DS_Store
.idea
*.log
tmp/
.postgres/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
target/
.auctex-auto/
.env
.direnv/
.mongo/
*.tfstate

public/

.serverless/
.cache/
.log/
.linaria-cache/
.terraform/
*.tf.json
result/

# Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json

config.tf.json
*.pem
*.code-workspace
types/.sqlx
